################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cobalt.Forums/.vs
/WebApplication1/.vs
/Cobalt.IPSecurity/.vs/Cobalt.IPSecurity/v15/Server/sqlite3
